body {
	color: grey;
	font-family: Arial;
	font-size: 13px;
}
input {
	text-align: center;
	font-family: Arial;
	background-color: rgba(200,200,200,0.5);
}
button {
	background-color: rgba(200,200,200,1);
  	border: 1px solid #666;
  	color:#000;
  	text-decoration:none;
}
#h1 {
	color: black;
}